@page
@model OlmosBartending.com.Models.ErrorViewModel
@{
}
<head>
    <met a charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wrong Turn - OlmosBartending.com</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<center>
    <h1>Unauthorized Attempt<br /><br /></h1>
    <img src="~/images/shifty.gif" class="profile" /><br />
    <br /><h2>You aren't allowed to do that.</h2>
    <br />
    <link src="http://localhost:7160">Back to the Home Page!</link>
    <a asp-action="Index"></a>
    @*@AspNetCore.Views_Home_Index;*@
</center>
