@page "/"
<link rel="stylesheet" href="style.css"
<PageTitle>Rolando's Bartending</PageTitle>
<i>"Enjoy the party, I'll do the rest."</i>
<img src="pose.jpg"
     style="object-fit:scale-down"
     class="profile"/>
<div><h1><b><u>Rolando Olmos</u></b></h1>
<h2>Bartending Service</h2>

Bartending and serving the Coachella Valley since <u>1985</u>!<br />
    I'm for hire for birthdays, quincineras, and any celebration for your bartending needs.

<br>
<br>


<form method="post"><table border="1" width="500px">
    <tr><td><h2><u>Secure your booking now!</u></h2></td></tr>
    <tr><td align="left"><label>Name: </label></td><td align="right"><input type="text" placeholder="Enter your full name." /></td></tr>
            <br />
    <tr><td align="left"><label>Email: </label></td><td align="right"><input type="text" placeholder="Enter your email." /></td></tr>
            <br />
    <tr><td align="left"><label>Service Requested: </label></td><td align="right"><input type="text" placeholder="What event can I help with?" style="height:120px; width:200px;" /></td></tr>
            <br />
    <tr><td align="left"><label>Date Requested: </label></td><td align="right"><input type="date" placeholder="" /></td></tr>
            <br /><br />
            <tr><td>What time does the event start and go to?</td></tr><br />
    <tr><td align="left"><label>Time Start: </label><input type="time" /></td><td align="right"><label>Time End: </label><input type="time" /></td></tr>
            <br />
    <tr><td align="left"> <label>Message (optional):</label></td><td align="right"><textarea placeholder="Enter any other information you'd like to tell me here." style="height:120px; width:200px;" /></td></tr>
            <br />
    <tr><td><button type="submit">Send Booking Request</button><button type="reset">Reset</button></td></tr>
    </table></form>
<br>
<h2>mailto:olmosrolando123@gmail.com</h2>
<br>
</div>
