@page "/about"
<link rel="stylesheet" href="style.css"
<PageTitle>Rolando's Bartending</PageTitle>
<i>"Enjoy the party, I'll do the rest."</i>
<img src="pose.jpg"
     style="object-fit:scale-down"
     class="profile" />
<div><h1><b><u>Rolando Olmos</u></b></h1>
<h2>Bartending Service</h2>

Bartending and serving the Coachella Valley for <u>three decades</u>!
<br>
<br>

I'm for hire for birthdays, quincineras, and any celebration for your bartending needs.
<br>
<br>


<br>
<h2>mailto:olmosrolando123@gmail.com</h2>
<br>
</div>
