@page "/"

<PageTitle>Rolando's Bartending</PageTitle>

<h1><b><u>Rolando Olmos</u></b></h1>
<h2>Bartending Service</h2>

Bartending and serving the Coachella Valley for <u>three decades</u>!
<br>
<br>

I'm for hire for birthdays, quincineras, and any celebration for your bartending needs.
<br>
<br>

<i>"Enjoy the party, I'll do the rest."</i> <br><br>
<img src="pose.jpg" 
style="object-fit:scale-down"
width="50%"
height="auto"/>
<br>
<h2>olmosrolando123@gmail.com</h2>
<br>


@*<SurveyPrompt Title="How is Blazor working for you?" />*@
