@page "/"

<PageTitle>Rolando's Bartending</PageTitle>

<h1>Bartending Service - Rolando Olmos</h1>

Bartending and serving the Coachella Valley for three decades!

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
