@{
    ViewData["Title"] = "Home Page";
}

<page>
    <h1><i>"Enjoy the party, I'll do the rest."</i></h1>
    <h1><b><u>Your Favorite Bartender:</u> <br />Rolando Olmos</b></h1>
    <body>
        <div class="custom-container"> 
<div class="right-half"><img src="pose.jpg"
     style="object-fit:scale-down"
             class="profile" />
    </div>
    <div class="left-half">
    <h2>Bartending Service</h2>
    Bartending and serving the Coachella Valley since <u>1985</u>!
    <br /><br />
    I'm for hire for birthdays, quincineras, and any celebration for your bartending needs.
    <br>
    <br>
    <h2 class="text-center"><a href="mailto:olmosrolando123@gmail.com">Email Rolando!</a></h2>
    <br>
    </div>
        </div>

</body>
</page>