
@{
    ViewData["Title"] = "Media";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
<div>
<h1>Videos</h1>
<video width="450" height="800" controls>
    <source src="~/loop.MOV" type="video/mp4">
    <object data="~/loop.MOV" width="1080" height="1920">
        <embed width="1080" height="1920" src="loop.MOV">
    </object>
</video>
<h3>More coming soon!</h3>
</div><div>
<h1>Photos</h1>
<h3>Coming soon!</h3>
</div>
</div>