@*@inherits Microsoft.AspNetCore.Components.*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OlmosBartending.com</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OlmosBartending.com.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="page">
        <div class="sidebar">
           <nav class="flex-column">
                <div class="nav-item px-3">
                    <a asp-controller="Home" asp-action="Privacy" class="nav-link">
                        <span class="oi oi-laptop" aria-hidden="true"></span> Privacy
                        </a>
                </div>
                <div class="nav-item px-3">
                    <a asp-controller="Home" asp-action="Index">Index</a>
                </div>
                <div class="nav-item px-3">
                    <a asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
           </nav>
        </div>

        <main>
            <article class="content px-4">
                @RenderBody()
            </article>
        </main>

    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - OlmosBartending.com - <a asp-area="" asp-controller="Appointment" asp-action="Index">Home Page</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
@*@{
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    void ToggleNavMenu()
        {
            //
        }
}*@