<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="css/w3.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.w3-sidebar {width: 120px;background: #222;}
#main {margin-left: 120px}
media only screen and (max-width: 600px) {#main {margin-left: 0}},
</style>
</head>
<body class="">
    <div>
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - OlmosBartending.com - <a asp-area="" asp-controller="Home" asp-action="Index">Exit out of booking view.</a>
        </div>
    </footer>

</body>
</html>
