@model OlmosBartending.com.Models.Appointment
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutBooking.cshtml";
}
<link rel="stylesheet" href="css/booking.css" />
<style>
    .test-form {
        width: auto;
        margin: auto;
        margin-bottom: 15px;
        background: #f7f7f7;
        padding: 30px;
        background-color: #262626;
        color: #f7f7f7;
    }
    .page {
        background-color: #262626;
    }
    page {
        background-color: #262626;
    }
    body {
        background-color: #262626;
        color:antiquewhite;
    }
</style>
<body>
<div class="card test-form">
        <div class="text-center">
            <h1>Create a booking request!</h1>
            <h6>This creates a booking request to be seen by Rolando.</h6>
        </div>
    <div class="card-body col-md-3 test-form">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <div class="form-group row mb-3">
                    <div class="col-sm-6 float-sm-start form-group">
                        <label asp-for="CustomerName" class="control-label"></label>
                        <input asp-for="CustomerName" class="form-control" placeholder="Your Name"/>
                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6 float-sm-end form-group">
                        <label asp-for="CustomerEmail" class="control-label"></label>
                        <input asp-for="CustomerEmail" class="form-control" type="email" placeholder="Your Email"/>
                        <span asp-validation-for="CustomerEmail" class="text-danger"></span>
                    </div>
                </div>  
                <div class="form-group row mb-3">
                    <div class="col-sm-6 float-sm-start form-group">
                         <label asp-for="ServiceRequested" class="control-label"></label><br />
                         <select asp-for="ServiceRequested" asp-items="Html.GetEnumSelectList<ServiceRequested>()" class="form-select">
                         <option value="">Please select:</option>
                         </select>
                         <span asp-validation-for="ServiceRequested" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6 float-sm-end form-group">
                        <label asp-for="DateRequested" class="control-label"></label>
                        <input asp-for="DateRequested" class="form-control" type="datetime-local" value="datetime-local"/>
                        <span asp-validation-for="DateRequested" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row mb-3 col-sm-auto">
                    <div>
                        <label asp-for="OptionalMessage" class="control-label"></label>
                        <textarea asp-for="OptionalMessage" class="form-control" rows="3" placeholder="Put any additional information you would like to communicate."></textarea>
                        <span asp-validation-for="OptionalMessage" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row mb-3 col-sm-auto">
                    <div>
                        <button type="submit" value="Create" class="btn btn-primary btn-block container-fluid">Create</button>
                    </div>
                </div>
                <div class="row container-fluid">
                    <div class="form-group invisible text-sm-center container-fluid">
                        <label asp-for="EventId" class="control-label"></label>
                        <input asp-for="EventId" class="form-control" />
                        <span asp-validation-for="EventId" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>